body{
   width: 990px;
   height: auto;
   margin: 0 250px;
}
.header {
    background-color: rgb(67, 51, 51);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
div h1{
    margin-top: 100px;
}
#menu {
    display: flex;
    border: 1px solid rgb(67, 51, 51);
    justify-content: space-between;
}

.sec:nth-child(2)  {
    display:flex;
    flex-direction: row;
   justify-items: center;
}
.sec .item2{
    justify-content: space-between;
}
.sec h3{
 font-size: 0.9em;
}
.item2 a{
    color: white;
}

#pans{
    display: flex;
    height: 500px;   
    justify-content: space-around;
}
#pans h1{
    font-size: 3em;
}
#pans div{
    width: fit-content;
    flex-direction: column;
}
.sign-up{
    border: 1px solid white;
    padding:  5px 25px;
    border-radius: 10%;
    background-color: rgb(84, 84, 228);
    color: white;
    font-weight: bold;

}
a:link{
    text-decoration: none;
}
#placeholder{
    margin-top: 100px;
    margin-right: 10px;
    width: 450px;
    height: 300px;
    border: 1px solid grey;
}
#menu p{
    align-items: center;
}

/* Second Container */
.title{
    margin: 9px 0;
}
.header1{
    display: flex;
    flex-direction: column;
    padding: 5px 135px;
    align-items: center;  
    margin: 14px 20px;  
}
.header1 .item1 {
   
    width: 120px;
    height: 140px;
    border: 3px solid rgb(103, 103, 242);
    border-radius: 15%;
 }
 .item0 .item1{
    align-content: center;
 }
.item0{
   
    justify-content: space-between;
}
.item{
    display: flex;
       
}
.item .item0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item .item0 p{
    font-size: 0.9em;
    padding: 0px 20px;
}

/* Third Container */
.header2{
    background-color: rgba(240, 233, 233, 0.947);
    width: auto;
    height: 350px;

}
.header2 #quatos{
  padding: 155px;
  width: 470px;
  margin: 0px 100px;
}
q{
  font-size: large;
}
#quatos div{
    padding-left: 400px;
    font-weight: bold;
}
/* Fourth container */
.header3{
    width: auto;
    height: 250px;
}
#calltoaction{
    background-color: rgb(101, 101, 232);
    margin: 98px 100px;
    color:white;
    width: 630px;
    height: 100px;
    padding: 20px 70px;
    border-radius: 2%;
}
#calltoaction h4{
    margin-bottom: 0px;
}
#calltoaction p{
    margin-top: 0px;
    font-size: 0.8em;
}
#calltoaction .sign-up{
   margin-left: 204px;
   
}

/* footer Container */
.header4{
    background-color: rgb(67, 51, 51);
    height: 60px;
    color: white;
  
}
#footer p{
   margin: 20px 450px;
   padding: 20px 0;
   
}